
input[type="text"],
input[type="password"]{
    width: 64%;
    margin: 33px 28px 14px 13px;
    height: 51%;
}
.btn{
    width: 37%;
    padding: 3% 0% 3% 1%;
    height: 43%;
    margin: 21px 25px 33px 85px
}
.modal-content{
    width: 34%;
    margin: 8% 0% 0% 30%;
    align-items: center;
}